
<% if notice.present? %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
<% end %>

<%= form_for [@artist, @song] do |f| %>
  <div class="form-group <%= @song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">
    <%= f.text_field :title, placeholder: "Add Song", class: 'form-control', id: 'new-song' %>
    <% if @song.errors.any? %>
      <% @song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
