<div class="bio">
  <h1><%= @artist.name %></h1>
  <%= image_tag @artist.image_url %>
</div>

  <div class="TodoList">
    <h2>Hit List</h2>
  </div>

    <table class="table table-striped" id="render">
      <%= render "artists/form", artist: @artist %>
    </table>

    <div class="rendersong">
      <%= render @song %>
    </div>
<hr>

<!-- <a class="btn btn-danger" data-confirm="Are you sure?" id="delete-all-songs"></span>Remove all songs</a> -->

<%= link_to "Remove Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
