<!-- <%= form_for [@artist, @song] do |f| %>
<% @song.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger" role="alert"><%= msg %></p>
  <% end %>
  <div class="form-wrapper">
    <div class="form-group">
      <%= f.text_field :title, placeholder: "Add Song", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
  </div>
<% end %> -->

<hr>

<% if notice.present? %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
<% end %>

<%= form_for [@artist, @song] do |f| %>
  <div class="form-group <%= song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">
    <%= f.text_field :title, placeholder: "Add Song", class: 'form-control' %>

    <% if @song.errors.any? %>
      <% @song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
